@use '../../style/colors';
@use '../../style/fonts';
@use '../../style/placeholders';

.dropdown {
    &__header {
        //height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 20px;
        @extend %radius-small;
        background-color: colors.$primary;
        color: colors.$text-light;

        &-title {
            font-size: fonts.$fluid-13-18;
            font-weight: 700;
        }
        &-icon {
            width: 36px;
            height: 36px;
            text-align: center;
            font-size: fonts.$fluid-16-24;
        }
    }

    &__content {
        display: none;
        padding: 20px;
        background-color: colors.$bg-light;
        font-size: fonts.$fluid-12-18;
        text-wrap: pretty;
    }
}

.dropdown--open {
    transition: all 500ms ease;

    .dropdown {
        &__header-icon {
            transform: rotate(180deg);
        }

        &__content {
            display: block;
        }
    }
}
