@use '../../style/breakpoints';
@use '../../style/colors';
@use '../../style/fonts';
@use '../../style/mixins' as *;

.dropdown {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 8px 20px;
        @include radius-small;
        background-color: colors.$primary;
        color: colors.$text-light;

        &-title {
            font-size: fonts.$fluid-13-18;
            font-weight: 700;
        }
        &-button {
            @include size(calc(fonts.$fluid-16-24 * 1.5));
            background-color: inherit;
            border: none;
            font-size: fonts.$fluid-16-24;
            transition: transform 300ms linear;
        }
    }

    &__content {
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 20px;
        background-color: colors.$bg-light;
        font-size: fonts.$fluid-12-18;
        text-wrap: pretty;
        transition: all 300ms ease-in;

        > * {
            transform: translateY(-100%);
            transition: transform 300ms ease-in;
        }
    }
}

.dropdown--open {
    .dropdown {
        &__header-button {
            transform: rotate(-180deg);
        }

        &__content {
            height: inherit;
            opacity: 1;
            padding: 20px;

            > * {
                transform: translateY(0);
            }
        }
    }
}

@include breakpoints.mobile() {
    .dropdown__header {
        padding-inline: 10px;
    }
}
