@use '../../style/fonts';
@use '../../style/placeholders';

.about__dropdowns {
    margin-block: 40px;
    @extend %flex-center;
    flex-direction: column;
    gap: 20px;

    .dropdown {
        width: 1024px;

        &__header-title {
            font-size: fonts.$fluid-13-24;
        }
    }
}
