/* @link https://utopia.fyi/clamp/calculator */

$fluid-96-288: clamp(6rem, 2.5714rem + 17.1429vw, 18rem);
$fluid-19-76: clamp(1.1875rem, 0.1696rem + 5.0893vw, 4.75rem);
$fluid-24-48: clamp(1.5rem, 1.0714rem + 2.1429vw, 3rem);
$fluid-18-36: clamp(1.125rem, 0.8036rem + 1.6071vw, 2.25rem);
$fluid-16-24: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
$fluid-13-24: clamp(0.8125rem, 0.6161rem + 0.9821vw, 1.5rem);
$fluid-12-24: clamp(0.75rem, 0.5357rem + 1.0714vw, 1.5rem);
$fluid-12-22: clamp(0.75rem, 0.5714rem + 0.8929vw, 1.375rem);
$fluid-14-18: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
$fluid-13-18: clamp(0.8125rem, 0.7232rem + 0.4464vw, 1.125rem);
$fluid-12-18: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
$fluid-10-14: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
