@use '../../style/breakpoints';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 100px;

    .logo {
        /* @link https://utopia.fyi/clamp/calculator?a=320,1440,145—210 */
        width: clamp(145px, 122.3913px + 7.0652vw, 210px);
        aspect-ratio: 210/68;
    }
}

@include breakpoints.mobile() {
    .header {
        /* @link https://utopia.fyi/clamp/calculator?a=320,767,20—40|20—100 */
        margin: clamp(20px, 5.6823px + 4.4743vw, 40px) clamp(20px, -37.2707px + 17.8971vw, 100px);
    }
}
