@use '../../style/placeholders';
@use '../../style/colors';
@use '../../style/fonts';

.hero {
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 223px;
    margin-inline: auto;
    @extend %flex-center;
    @extend %background-center;
    @extend %radius-big;
    background-image: url('../../assets/hero_home.png');

    &--about {
        background-image: url('../../assets/hero_about.png');
    }

    &__filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        @extend %radius-big;
    }

    &__title {
        position: relative;
        font-size: fonts.$fluid-24-48;
        font-weight: 700;
        color: colors.$text-light;
        @extend %text-outline;
        z-index: 1;
    }
}
