@use '../../style/colors';

.rating {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;

    &__star {
        font-size: 22px;

        &--colored {
            color: colors.$primary;
        }

        &--grey {
            color: colors.$placeholder-light;
        }
    }
}
