@use '../../style/colors';
@use '../../style/fonts';

.rating {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;

    &__star {
        font-size: fonts.$fluid-12-22;

        &--colored {
            color: colors.$primary;
        }

        &--grey {
            color: colors.$placeholder-light;
        }
    }
}
