@use '../../style/breakpoints';
@use '../../style/colors';
@use '../../style/mixins' as *;

.card {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    background-color: colors.$primary;
    @include radius-small;
    overflow: hidden;

    &__img {
        @include size(100%);
        @include radius-small;
        transition: transform 300ms ease-in, filter 300ms ease-in;

        &:hover {
            transform: scale(1.05);
            filter: saturate(1.05) brightness(1.02) contrast(1.02);
        }
    }

    &__title {
        position: absolute;
        bottom: 0;
        z-index: 1;
        margin: 20px;
        text-wrap: balance;
        color: colors.$text-light;
        font-size: 18px;
        font-weight: 700;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: breakpoints.$mobile) {
    .card {
        aspect-ratio: 67/51;
    }
}
