@use '../../style/breakpoints';
@use '../../style/colors';
@use '../../style/fonts';
@use '../../style/mixins' as *;
@use '../../style/placeholders';

.accommodation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    align-items: center;

    .carousel {
        grid-column: span 2;
    }

    &__header {
        &-title {
            color: colors.$primary;
            font-size: fonts.$fluid-18-36;
            font-weight: 500;
        }

        &-location {
            color: colors.$text-dark;
            font-size: fonts.$fluid-14-18;
            font-weight: 500;
        }
    }

    &__host {
        justify-self: end;
        @extend %flex-center;
        gap: 20px;

        &-name {
            width: min-content;
            word-break: keep-all;
            text-align: end;
            color: colors.$primary;
            font-size: fonts.$fluid-12-18;
            font-weight: 500;
        }
        &-image {
            @include size(64px);
            border-radius: 50%;
            background-color: colors.$placeholder-dark;
        }
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        &-item {
            width: 115px;
            min-width: fit-content;
            height: fit-content;
            padding: 2px 10px;
            background-color: colors.$primary;
            @include radius-small;
            text-align: center;
            text-wrap: nowrap;
            color: colors.$text-light;
            font-size: fonts.$fluid-10-14;
            font-weight: 700;
        }
    }

    .rating {
        justify-self: end;
    }

    &__dropdowns {
        grid-column: span 2;
        display: flex;
        justify-content: space-between;
        gap: 80px;

        .dropdown {
            width: 100%;
        }
    }
}

@include breakpoints.mobile() {
    .accommodation {
        &__header {
            grid-column: span 2;
        }

        &__tags {
            grid-column: span 2;
            grid-row: 3;
        }

        .rating {
            grid-column: 1;
            grid-row: 4;
            justify-self: inherit;
        }

        &__host {
            grid-row: 4;

            &-image {
                /* @link https://utopia.fyi/clamp/calculator?a=320,768,32—64 */
                @include size(clamp(32px, 9.1429px + 7.1429vw, 64px));
            }
        }

        &__dropdowns {
            flex-direction: column;
            gap: 20px;
        }
    }
}
