@use '../../style/fonts';

.nav-list {
    display: flex;
    gap: 40px;
    font-size: fonts.$fluid-12-24;
    font-weight: 500;

    &-item {
        &-active {
            text-decoration: underline;
        }
    }
}
