@use '../../style/colors';
@use '../../style/placeholders';

.footer {
    margin-block-start: 40px;
    padding: 40px;
    background-color: colors.$bg-dark;
    @extend %flex-center;
    flex-direction: column;
    gap: 40px;

    .logo {
        width: 122px;
        height: 39px;
        margin-block-start: 20px;
        filter: brightness(100);
    }

    .copyright {
        color: colors.$text-light;
        font-size: 24px;
        font-weight: 500;
    }
}
